@model IEnumerable<Travel_Express.Database.Users>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Signin">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PasswordHash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcceptPet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcceptSmoke)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcceptMusic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcceptTalking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcceptDeviation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcceptEveryone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordHash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptPet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptSmoke)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptMusic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptTalking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptDeviation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptEveryone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Mail">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Mail">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Mail">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
